@model List<Slider>
<div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">
	<!--/.carousel-indicator -->
	<ol class="carousel-indicators">
		@for (int i = 0; i < Model.Count; i++)
		{
			<li data-target="#header-carousel" data-slide-to="@i" class="@(Model[i].IsActive?"active":"")"><span class="small-circle"></span></li>

		}
	</ol><!-- /ol-->
	<div class="carousel-inner" role="listbox">
		@foreach (Slider slider in Model)
		{
			<div class="item  @(slider.IsActive?"active":"")">
				<div class="single-slide-item ">
					<div class="container">
						<div class="welcome-hero-content">
							<div class="row">
								<div class="col-sm-7">
									<div class="single-welcome-hero">
										<div class="welcome-hero-txt">
											<h4>great design collection</h4>
											<h2>@Html.Raw(slider.Name)</h2>
											<p>
												@Html.Raw(slider.Description)
											</p>
											<div class="packages-price">
												<p>
													$ @Html.Raw(slider.FinalPrice)
													<del>$ @Html.Raw(slider.InitialPrice)</del>
												</p>
											</div>
										</div><!--/.welcome-hero-txt-->
									</div><!--/.single-welcome-hero-->
								</div><!--/.col-->
								<div class="col-sm-5">
									<div class="single-welcome-hero">
										<div class="welcome-hero-img">
											<img src="~/skydash/images/@Html.Raw(slider.ImagePath)" alt="slider image">
										</div><!--/.welcome-hero-txt-->
									</div><!--/.single-welcome-hero-->
								</div><!--/.col-->
							</div><!--/.row-->
						</div><!--/.welcome-hero-content-->
					</div><!-- /.container-->
				</div><!-- /.single-slide-item-->

			</div>

		}

	</div><!-- /.carousel-inner-->
</div>