@model List<Slider>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
	var count = 1;
}

<div class="col-lg-12 grid-margin stretch-card">
	<div class="card">
		<div class="card-body">
			<h4 class="card-title">Slider</h4>

			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th>#</th>
							<th>Name</th>
							<th>Description</th>
							<th>InitialPrice</th>
							<th>FinalPrice</th>
							<th>Status</th>
							<th>Image</th>
							<th>Update</th>
							<th>Delete</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{

							<tr>
								<td>@count</td>
								<td>@item.Name</td>
								<td>@item.Description</td>
								<td>@item.InitialPrice</td>
								<td>@item.FinalPrice</td>
								<td>@item.IsActive</td>
								<td><img src="~/skydash/images/@item.ImagePath" /></td>
								<td><a asp-action="Delete" asp-area="Admin" asp-controller="Slider" asp-route-Id="@item.Id" class="btn btn-outline-danger">Delete</a></td>
								<td><a asp-action="Update" asp-area="Admin" asp-controller="Slider" asp-route-Id="@item.Id" class="btn btn-outline-info">Update</a></td>
							</tr>
							count++;
						}
						<a class="btn btn-outline-success" asp-area="Admin" asp-controller="Slider" asp-action="Create">Create</a>


					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>


